@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #07252d;
}
h1{
    text-align: center;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #00000044);
    letter-spacing: 1.5px;
    line-height: 0.7;
    animation: animate 2.5s linear infinite ;
    text-transform: uppercase;
    outline: none;
    
}
@keyframes animate{

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    1%,18.1%,20.1%,30%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #db0606,
        0 0 20px #db0606,
        0 0 30px #db0606,
        0 0 40px #db0606,
        0 0 80px #db0606,
        0 0 160px #db0606;
    }
}